*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-transform: none;
  text-decoration: none;
  border: none;
  outline: none;
}

// --- search-form --- //
.search-form {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(34, 82, 172);
  height: 50px;
  width: 100%;
  //margin-bottom: 20px;
box-shadow: 1px 8px 5px -5px rgba(0,0,0,0.21);
-webkit-box-shadow: 1px 8px 5px -5px rgba(0,0,0,0.21);
-moz-box-shadow: 1px 8px 5px -5px rgba(0,0,0,0.21);

&__box {
  //border: 2px solid black;
  background-color: white;
  border-radius: 8px;
  display: flex;
  align-items: center ;
}
&__input {
  border-radius: 8px 0px 0px 8px;
  width: 350px;
  padding-top: 8px;  
  padding-bottom: 7px;
  padding-left: 10px;
}
&__button {
  padding: 5px;
  border-radius: 0px 8px 8px 0px;
  &--icon {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center ;
  }
}
}

// --- result --- //

.gallery {
  padding: 70px;
 // margin-top: 50px;
  display: grid;
  max-width: 1140px;
  grid-template-columns: repeat(4, minmax(320px,1fr));
  grid-auto-rows: 240px;
  grid-gap: 20px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.photo-card {
  //border: 1px solid grey;
  padding-bottom: 10px;
  border-radius: 0px 0px 8px 8px;
box-shadow: 5px 8px 5px -2px rgba(0,0,0,0.21);
-webkit-box-shadow: 5px 8px 5px -2px rgba(0,0,0,0.21);
-moz-box-shadow: 5px 8px 5px -2px rgba(0,0,0,0.21);

  &__img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    margin-bottom: 10px;
    //object-fit: contain;
    //display: block;
  }
}

.info {
  //border: 1px solid red;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  //margin-top: 10px;
  //margin-bottom: 10px;
  
  &-item {
    padding-left:5px;
    padding-right: 5px;
    //border: 1px solid green;
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;
  }
}


// --- BUTTON - LOAD MORE --- //


.load-more__box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.load-more {
  background-color: rgb(34, 82, 172);
  color: white;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;

}