@import '~node_modules/modern-normalize/modern-normalize.css';
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-transform: none;
  text-decoration: none;
  border: none;
  outline: none;
}

body {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 100%;
    max-width: 1300px;
    padding-left: 71px;
    padding-right: 71px;
  }
}
.is-hidden {
  display: none;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10px;
  max-width: 700px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .search-form {
    max-width: 500px;
  }
}
@media screen and (min-width: 960px) {
  .search-form {
    max-width: 550px;
  }
}
@media screen and (min-width: 1020px) {
  .search-form {
    max-width: 750px;
  }
}
@media screen and (min-width: 1250px) {
  .search-form {
    margin-left: 100px;
  }
}
.search-form__box {
  width: 100%;
  background-color: white;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .search-form__box {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.search-form__input {
  border-radius: 8px 0px 0px 8px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  height: 45px;
}
@media screen and (min-width: 768px) {
  .search-form__input {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    height: 55px;
  }
}
.search-form__button {
  background-color: transparent;
  padding: 5px;
  border-radius: 0px 8px 8px 0px;
}
.search-form__button--icon {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .search-form__button--icon {
    width: 30px;
    height: 30px;
  }
}

.header__initial {
  background: rgb(252, 235, 192);
  background: linear-gradient(121deg, rgb(252, 235, 192) 0%, rgb(0, 80, 102) 38%, rgb(75, 6, 74) 100%);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.header__initial .switch-btn__box {
  display: none;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title {
  font-family: "Roboto Mono", monospace;
  font-size: 25px;
  color: white;
  margin-top: 150px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .header__title {
    font-size: 50px;
    margin-top: 120px;
  }
}
@media screen and (min-width: 1280px) {
  .header__title {
    font-size: 60px;
  }
}

.header__title > span {
  font-size: 50px;
}
@media screen and (min-width: 768px) {
  .header__title > span {
    font-size: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .header__title > span {
    font-size: 130px;
  }
}

.header_with_results {
  z-index: 10;
  max-height: 175px;
}
@media screen and (min-width: 768px) {
  .header_with_results {
    max-height: 170px;
  }
}
@media screen and (min-width: 1280px) {
  .header_with_results {
    max-height: 190px;
  }
}
.header_with_results .header__box {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .header_with_results .header__box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header_with_results .header__title {
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 15px;
}
@media screen and (min-width: 768px) {
  .header_with_results .header__title {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .header_with_results .header__title {
    font-size: 22px;
  }
}
.header_with_results .header__title > span {
  font-size: 30px;
}
@media screen and (min-width: 768px) {
  .header_with_results .header__title > span {
    font-size: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .header_with_results .header__title > span {
    font-size: 60px;
  }
}
.header_with_results .switch-btn__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .header_with_results .switch-btn__box {
    margin-top: 40px;
  }
}
@media screen and (min-width: 768px) {
  .header_with_results .switch-btn__box {
    margin-top: 20px;
  }
}

.gallery {
  padding-top: 195px;
  display: grid;
  max-width: 1280px;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-auto-rows: 240px;
  grid-gap: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding-top: 200px;
  }
}
@media screen and (min-width: 768px) {
  .gallery {
    padding-top: 230px;
  }
}

.photo-card {
  border: 1px solid rgba(190, 189, 189, 0.3);
  padding-bottom: 10px;
  border-radius: 0px 0px 8px 8px;
  box-shadow: 1px 6px 5px -2px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: 1px 6px 5px -2px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 1px 6px 5px -2px rgba(0, 0, 0, 0.21);
}
.photo-card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.photo-card__img:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}
.photo-card__link {
  margin-bottom: 10px;
  display: block;
  height: 80%;
}

.info {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.load-more__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.load-more {
  background: rgb(252, 235, 192);
  background: linear-gradient(121deg, rgb(252, 235, 192) 0%, rgb(0, 80, 102) 38%, rgb(75, 6, 74) 100%);
  color: white;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  cursor: pointer;
}
.load-more:hover, .load-more:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.scroll-to-the-top {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgb(252, 235, 192);
  background: linear-gradient(121deg, rgb(252, 235, 192) 0%, rgb(0, 80, 102) 38%, rgb(75, 6, 74) 100%);
  border-radius: 10px;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  cursor: pointer;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.scroll-to-the-top--icon {
  width: 20px;
  height: 30px;
  fill: white;
}
.scroll-to-the-top:hover, .scroll-to-the-top:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: grey;
}

.showBtn {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.switch-btn__box > input {
  color: white;
  font: 1em "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.5;
}

.switch-btn__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-size: calc(12px + 2 * (100vw - 320px) / 704);
  overflow: hidden;
}

.switch-btn__txt {
  color: white;
  font: 1em "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.5;
  margin-right: 1em;
}

.toggle,
.toggle:before,
.slot__label {
  -webkit-transition-property: visibility, -webkit-transform;
  transition-property: visibility, -webkit-transform;
  transition-property: transform, visibility;
  transition-property: transform, visibility, -webkit-transform;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-in, cubic-bezier(0.6, 0.2, 0.4, 1.5), linear;
          transition-timing-function: ease-in, cubic-bezier(0.6, 0.2, 0.4, 1.5), linear;
}

.toggle:before,
.slot,
.slot__label {
  display: block;
}

.toggle:before {
  position: absolute;
}

.toggle:focus {
  outline: transparent;
}

.toggle {
  border-radius: 0.75em;
  -webkit-box-shadow: 0 0 0 0.1em inset;
          box-shadow: 0 0 0 0.1em inset;
  cursor: pointer;
  position: relative;
  margin-right: 0.25em;
  width: 3em;
  height: 1.5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.toggle:before {
  background: currentColor;
  border-radius: 50%;
  content: "";
  top: 0.2em;
  left: 0.2em;
  width: 1.1em;
  height: 1.1em;
}

.toggle:checked:before {
  -webkit-transform: translateX(1.5em);
          transform: translateX(1.5em);
}

.toggle:checked ~ .slot .slot__label,
.slot__label:nth-child(2) {
  -webkit-transform: translateY(-50%) scaleY(0);
          transform: translateY(-50%) scaleY(0);
}

.toggle:checked ~ .slot .slot__label:nth-child(2) {
  -webkit-transform: translateY(-100%) scaleY(1);
          transform: translateY(-100%) scaleY(1);
}

.slot {
  color: transparent;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1;
  overflow: hidden;
  height: 1em;
  text-indent: -0.9em;
  -webkit-text-stroke: 0.05em white;
}

.slot__label {
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
}

.slot__label:nth-child(2) {
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}/*# sourceMappingURL=index.css.map */